---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}

    {% if page.geo %}
    <h2>Die Karte zum heutigen Tag:</h2>
    <div id="map"></div>
    <script>
      L.mapbox.accessToken = 'pk.eyJ1IjoiY29kZXJieWhlYXJ0IiwiYSI6Ijg1YWYxODEwODMzMTExMjk2NTYyNWIxNzgyNDc4NDI5In0.ba1fA9we0blXiNJcqNKAxQ';
      var geo = '{{ page.geo }}'.split(',').map(function(c) { return parseFloat(c.trim()); });
      var map = L.mapbox.map('map', 'mapbox.outdoors')
              .setView([geo[0], geo[1]], 9);

      var myLayer = L.mapbox.featureLayer().addTo(map);

      var geojson = {
        type: 'FeatureCollection',
        features: [{
          type: 'Feature',
          properties: {
            title: 'Campingplatz',
            'marker-color': '#fa0',
            'marker-size': 'large',
            'marker-symbol': 'campsite'
          },
          geometry: {
            type: 'Point',
            coordinates: [geo[1], geo[0]]
          }
        }]
      };
      {% for marker in page.markers %}
        geojson.features.push({
                  type: 'Feature',
                  properties: {
                    title: '{{marker.name}}',
                    'marker-color': '#2883FF',
                    'marker-size': 'large',
                    'marker-symbol': '{{marker.symbol}}'
                  },
                  geometry: {
                    type: 'Point',
                    coordinates: [{{marker.lng}}, {{marker.lat}}]
                  }
        });
      {% endfor %}
      myLayer.setGeoJSON(geojson);
      myLayer.on('mouseover', function(e) {
        e.layer.openPopup();
      });
      myLayer.on('mouseout', function(e) {
        e.layer.closePopup();
      });

      {% if page.track %}
        {% for track in page.track %}
          omnivore.gpx('{{site.baseurl}}/tracks/{{ track }}').addTo(map);
        {% endfor %}
      {% endif %}

    </script>
    {% endif %}
  </article>

</div>
